@media only screen and (max-width: 1200px) {


    .link-image{
display: none;
    }

    .button-register {
        background-color: rgb(243, 244, 252);
        color: #0a0a0a !important;


        border: 1.8px solid #3a3a3a !important;


        width: 95px;
        height: 39px;

        position: absolute;

        right: 978px !important;
        top: 13px !important;

        margin-left: auto;
        text-align: center;
        font-size: 12px;

        border-radius: 8px !important;

        border: none;


    }

    .button-register:active {
        transform: scale(.94);
    }

    .button-register:hover {
        transition: all .1s ease;

        color: #ffffff !important;

        background-color: #0c0f35 !important;
    }






    .nav {
        display: flex;
        justify-content: space-between;
        padding-left: 224px;
        position: fixed;
        text-decoration: none;
        font-weight: bolder;
        font-size: 16px !important;
        z-index: 66666 !important;
        height: 71px !important;
        top: 0px;
        padding-top: 0px !important;
        width: 1185px;
        margin-right: -513px;
        padding-right: 96px;
        margin-bottom: -15px;
        height: 100px;
        background-color: white;
        border-bottom: 2px solid rgb(236, 236, 236);





    }






    .navbrand:hover {

        border-radius: 8px;

        color: #ffffff !important;
        background-color: #4079a8;
        filter: sepia(0%);


    }

    .container {
        top: 65px;
        margin-left: auto;
        max-width: none;
        margin-right: auto;
        display: block;
    }



    .container-valed-navbar {
        width: 200px !important;
        position: relative !important;

    }



    .valed-navbar {
        width: 200px !important;
        position: absolute !important;

    }



}

@media only screen and (max-width: 992px) {


    .css-1ontqvh {
        list-style: none !important;
        margin: 0px !important;
        padding: 8px 0px !important;
        position: relative !important;
        right: -2px !important;
        top: -9px !important;
    }

    .button-register {
     
        top: -36px !important;
        margin: 51px;
        padding: 3px 4px;
        border-radius: 8px !important;
        margin-left: auto;
        text-align: center;
        font-size: 14px;
        font-family: 'dana';
        font-weight: 400 !important;
   
        transform: scale(.9);
        background-color: rgb(243, 244, 252);
        color: #0a0a0a !important;
        border: 1.8px solid #3a3a3a !important;
      
        position: absolute;
        right: 795px !important;
    

    }

    .button-register:active {
        transform: scale(.94);
    }

    .button-register:hover {
        transition: all .1s ease;
        border: 1px solid rgb(255, 255, 255);
        color: #ffffff;
        font-size: 14px;
        font-family: 'dana';
        font-weight: 400 !important;
        background-color: rgb(2, 0, 145);
    }









    .nav {


        display: flex;
        justify-content: space-between;
        position: fixed;
        text-decoration: none;
        font-weight: bolder;

        z-index: 66666 !important;
        top: -4px;
        width: 759px;
        padding-top: 19px;
        border-bottom: 2px solid rgb(236, 236, 236);
    }












    .container {
        top: 65px;
    }







}

@media only screen and (max-width: 768px) {


    .nav {
        display: flex;
        justify-content: space-between;
        padding-left: 224px;
        position: fixed;
        text-decoration: none;
        font-weight: bolder;
        font-size: 16px !important;
        z-index: 1;
        height: 105px !important;
        top: 0px;
        padding-top: 16px !important;
        width: 1185px;
        margin-right: -513px;
        padding-right: 96px;
        margin-bottom: -15px;
        height: 100px;







    }



    .button-register {
        color: rgb(255, 245, 245);
        width: 120px;
        height: 50px;
        background-color: #0c53bd;
        position: fixed;

        z-index: 30;
        left: 1px;
        top: 93px !important;
        margin: 51px;
        padding: 3px 4px;
        border-radius: 8px !important;
        margin-left: auto;
        text-align: center;
        font-size: 14px;
        font-family: 'dana';
        font-weight: 400 !important;
        transform: scale(.85) !important;
        border: 2px solid rgb(234, 243, 241);
    }



    .nav {

        display: flex;
        justify-content: space-between;

        padding: 1rem 0;



        position: fixed;
        text-decoration: none;

        font-weight: bolder;
        font-size: 15px;
        z-index: 66666 !important;
        height: 56px;
        display: none;
        top: -21px;

    }



    .container {
        top: 65px;
    }








}

@media screen and (max-width: 576px) {
    .css-1ontqvh {
        list-style: none !important;
        margin: 0px !important;
        padding: 8px 0px !important;
        position: relative !important;
        right: -2px !important;
        top: -9px !important;
    }

    .button-register {
        color: rgb(186, 255, 240);
        width: 120px;
        height: 50px;
        background-color: #020c22;
        position: fixed;

        z-index: 30;
        right: -41px !important;
        top: -23px !important;
        margin: 51px;
        padding: 3px 4px;
        border-radius: 8px !important;
        margin-left: auto;
        text-align: center;
        font-size: 14px;
        font-family: 'dana';
        font-weight: 400 !important;
        border: 1px solid rgb(144, 243, 222);
    }



    .nav {
        position: fixed;
        text-decoration: none;
        width: 1350px;
        font-weight: bolder;
        font-size: 15px;
        z-index: 66666 !important;
        height: 56px;
        margin: 21px -91px;
    }



    .container {
        top: 65px;
    }





}


@media only screen and (min-width: 1200px) {

    .css-3nargb {
        box-sizing: border-box;
        display: flex;
        flex-flow: wrap;
        margin-top: -16px;
        width: calc(100% + 16px);
        margin-left: -16px;
        -webkit-box-align: center;
        align-items: center;

    }

    .css-3nargb>.MuiGrid-item {
        padding-left: 16px;
    }

    .css-10wahds {
        margin: 0;
        font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5;
        scroll-snap-margin-top: calc(var(--MuiDocs-header-height) + 32px);
        scroll-margin-top: calc(var(--MuiDocs-header-height) + 32px);
        letter-spacing: 0;
        color: var(--muidocs-palette-text-secondary);
    }

    .button-register {


        width: 105px;
        height: 40px;
        border: none !important;
        transition: all .1s ease;
        position: absolute;
        z-index: 30;
        right: 1790px !important;
        top: 26px !important;
        padding: 3px 4px;
        border-radius: 8px !important;
        margin-left: auto;
        text-align: center;
        font-size: 14px;
        font-family: 'dana';
        font-weight: 700 !important;

        border: 1px solid rgb(161, 161, 161) !important;

        font-weight: 400 !important;

        background-color: #fafbff;
        color: #000000 !important;

    }

    .button-register:active {
        transform: scale(.98);
    }

    .button-register:hover {

        transition: all .1s ease;

        border: 1.8px solid transparent!important;
       
        background-color: #f0f2ff !important;
        color: #000000 !important;

        border: 1px solid rgb(109, 109, 109) !important;


    }

    .container-valed-navbar {
        width: 200px !important;
        position: relative !important;

    }



    .valed-navbar {
        width: 96% !important;
        position: relative !important;
      
        display: flex;
        height: 30px;
        top: 474px;
    }

.left-nav{
    z-index: 444444444;
    position: absolute;
    top: 2px;
    background-color: transparent;
    right: 214px;
}
    .nav {








        display: flex;
        font-size: 15px;
        height: 82px;
        justify-content: space-between;
        margin-right: auto;
        padding: 5px 4px 0 4px;
        position: fixed;
        top: 0px;
        width:700px;
        z-index: 4441 !important;
        padding-right: 0px;
        border-bottom: 1px solid rgb(216, 216, 216);
        background-color: transparent !important;
        margin-left: auto;
        right: 0px;
        left: 0px;
    
  
    }



    .container {
        top: 65px;
    }
    .link-image{
        position: absolute;
        right: 0px;
        top: 13px;
        left: 97px;
        margin-right: auto;
        margin-left: auto;
        width: 30px;
        height: 30px;
        transform: scale(.7);
        border: 2px solid white;
        border-radius: 40px;
    }
}